# top-most EditorConfig file
root = true

# Set the tab to be 4 spaces for these files types
[*.{js,jsx,html,sass,txt}]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
