Lesson:  How to Create 3 Mat-Cards and Change 3D effect on Hover
----------------------------------------------------------------

Problem:  I want to have 3 mat-cards (as buttons)
          I want the hovered-over mat-card to stand-out

NOTE:  After each step, try it out


Solution
--------
 1. Use angular-flex to create 3 divs:  left, center, and right
    a. Edit the welcome.component.html

    b. Add this to it

        <div fxFlex fxLayout="row" fxLayoutGap="0">


          <div fxFlex fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="0" style="border: 1px solid black">
            <!-- Left Side -->
            Left
          </div>



          <div fxFlex  fxLayoutAlign="center center" style="border: 1px solid blue">
            <!-- Center Part -->
            Center

          </div>



          <div fxFlex fxLayoutAlign="center center" style="border: 1px solid green">
            <!-- Right Side -->
            Right
          </div>

        </div>


 2. Add mat-cards to each box with different 3d effects (by adjusting class="mat-elevation-z"
    a. Edit the welcome.component.html

    b. Replace the previous seciton with this

        <div fxFlex fxLayout="row" fxLayoutGap="0">


          <div fxFlex fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="0" style="border: 1px solid black">
            <!-- Left Side -->
            <mat-card class="mat-elevation-z1">
              Option 1
            </mat-card>
          </div>



          <div fxFlex  fxLayoutAlign="center center" style="border: 1px solid blue">
            <!-- Center Part -->

            <mat-card class="mat-elevation-z4">
              Option 2
            </mat-card>

          </div>



          <div fxFlex fxLayoutAlign="center center" style="border: 1px solid green">
            <!-- Right Side -->

            <mat-card class="mat-elevation-z8">
              Option 3
            </mat-card>

          </div>

        </div>
